
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/BackendOlimpiadas/vendor
/FrontEnd/vendor


###> symfony/framework-bundle ###
/BackendOlimpiadas/.env.local
/BackendOlimpiadas/.env.local.php
/BackendOlimpiadas/.env.*.local
/BackendOlimpiadas/config/secrets/prod/prod.decrypt.private.php
/BackendOlimpiadas/public/bundles/
/BackendOlimpiadas/var/
/BackendOlimpiadas/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/BackendOlimpiadas/phpunit.xml
/BackendOlimpiadas/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/BackendOlimpiadas/.phpunit.result.cache
/BackendOlimpiadas/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/BackendOlimpiadas/public/assets/
/BackendOlimpiadas/assets/vendor/
###< symfony/asset-mapper ###
/FrontEnd/vendor

