<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juegos Olímpicos de París 2024</title>
  <link rel="stylesheet" href="home.component.scss">
</head>
<body>
  <header class="bg-gradient-to-r from-blue-500 to-indigo-500 text-white p-4">
    <h1>Juegos Olímpicos de París 2024</h1>
  </header>
  <main class="container mx-auto">
    <section class="my-4">
      <h2>¿Cuándo y dónde se celebrarán los Juegos Olímpicos?</h2>
      <p>Los Juegos Olímpicos de París 2024 se celebrarán del 26 de julio al 11 de agosto de 2024 en París, Francia.</p>
    </section>
    <section class="my-4">
      <h2>¿Cuántos deportes y eventos habrá?</h2>
      <p>Los Juegos Olímpicos de París 2024 contarán con 32 deportes y más de 300 eventos.</p>
    </section>
    <section class="my-4">
      <h2>¿Cómo puedo comprar entradas para los Juegos Olímpicos?</h2>
      <p>Las entradas para los Juegos Olímpicos de París 2024 se podrán comprar a partir de finales de 2023. Para más información, puedes visitar la página web oficial de los Juegos Olímpicos: https://www.paris2024.org/en/(https://www.paris2024.org/es/).</p>
    </section>
  </main>
  <footer class="bg-gray-200 text-center p-4">
    <p>© 2023 - Juegos Olímpicos de París 2024</p>
  </footer>
</body>
</html>
