

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name=""></app-explore-container>
  <h1>Bienvenido a los juego olimpicos de Paris 2024</h1>
  
  <h3>Descripccion de el sorteo</h3>
  <p>Para realizar la compra de entradas de 
    Hay un sorteo donde se dividen los
    compradores en 4 slots, donde podrán
    comprar entradas. Cada slot es una semana.
    Va a haber 2 periodos de compra.
    Cada evento entra en un periodo de
    compras. Se notifican resultados del sorteo
  
    Se divide en 4 semanas. El comprador asignado cada
    semana por sorteo podrá realizar compras de entradas
    de eventos asignados en ese periodo de compras. 5
    entradas para 3 eventos como máximo en cada periodo
    Una entrada se compone de un evento, y de una sección
    que tiene asignado un precio. Cada sección tiene un
    número en concreto de sitios.
    </p>
</ion-content>
