<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name=""></app-explore-container>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center pb-5" style="height: 100vh;">
      <div class="col-6 text-center">
        <div>
          <img src="../../assets/logo.png" alt="juegos olimpicos">
          <p>Bienvenidos a los Juegos Olimpicos Paris 2024</p>
        </div>
        <app-auth-button></app-auth-button>
      </div>
    </div>
  </div>
  <div>
    <h1>Juegos Olimpicos Paris 2024</h1>
  </div>
  <p>Para comprar tus entradas, inicia sesión.</p>
  <p>
    El proceso de selección del premio mayor para la compra de boletos se realizará así:
  </p>
  <p>
    Al iniciar sesión, se te asignarán dos períodos, uno en marzo y otro en abril. Por ejemplo, si te toca la primera
    semana de marzo y la primera de abril, podrás comprar durante esas fechas. Si no puedes hacerlo en la primera fecha
    asignada, tendrás otra oportunidad en la segunda fecha.
  </p>
  <p>¡Buena suerte!</p>
</ion-content>