<ion-content [fullscreen]="false" color="light">
  <div class="mydiv row">
    <ion-grid class="ion-padding">
      <ion-row
        class="ion-justify-content-center ion-align-items-center"
        style="height: 100vh"
      >
        <ion-col size="6" class="ion-text-center">
          <div>
            <img src="../../assets/logo.png" alt="juegos olimpicos" />
            <p>Bienvenidos a los Juegos Olimpicos Paris 2024</p>
          </div>
          <app-auth-button></app-auth-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-space></app-space>
  <div class="mydiv row">
    <ion-grid class="ion-padding">
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" class="ion-text-center">
          <h2>Pasos del Sorteo</h2>
          <ion-card class="ion-margin-top">
            <ion-card-header>
              <ion-card-title>Paso 1</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h5>Periodo de registro</h5>
              <p>
                Registrate en la aplicación para poder entrar al sorteo de
                compra de entradas
              </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="ion-margin-top">
            <ion-card-header>
              <ion-card-title>Paso 2</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h5>Periodo de sorteo</h5>
              <p>
                El sorteo te habrá mandado a tu correo 2 fechas, una en el mes
                de abril y otra en el mes de marzo
              </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="ion-margin-top">
            <ion-card-header>
              <ion-card-title>Paso 3</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h5>Periodo de compra 1</h5>
              <p>
                En este primer periodo de compra, podrás comprar una entrada en
                la fecha del mes de marzo que se te mandó por el correo
              </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="ion-margin-top">
            <ion-card-header>
              <ion-card-title>Paso 4</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h5>Periodo de compra 2</h5>
              <p>
                En este segundo periodo de compra, podrás comprar una entrada en
                la fecha del mes de abril que se te mandó por el correo
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
