<ion-content color="light">
  <ion-card color="light">
    <ion-card-content>
      <ion-list *ngIf="this.user">
        <ion-item>
          <ion-avatar slot="start" *ngIf="auth.user$ | async as userAuth">
            <img [src]="userAuth.picture">
          </ion-avatar>
          <ion-label>
            <h2>{{ user.name }}</h2>
            <p>{{ user.email }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ID</ion-label>
          <ion-note slot="end">{{ user.idAuth0 }}</ion-note>
        </ion-item>
        @if (this.user.mes1 !== 0 && this.user.mes2 !== 0) {
        <ion-item>
          <ion-label>Semana de compra 1</ion-label>
          <ion-note slot="end">{{ this.fecha1 }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Semana de compra 2</ion-label>
          <ion-note slot="end">{{ this.fecha2 }}</ion-note>
        </ion-item>
        }
      </ion-list>
      <ion-button expand="full" color="danger"
        (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
        Log out
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>